@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

* { margin:0px; padding:0px; box-sizing:border-box;  }

:root  {  
    /* COLOR - PALETTES  */

            --white:#FFFFFF;
            --bege:#F5EDEA;
            --light-blue:#037486;
            --dark-gray:#d1d2d6;
            --coach-container:#0375877a;;
            --font-01:'Inter';
            --font-02:'Playfair Display';
            --font-03:'DM Sans';
            --font-04:'MontSerrat';
            --font-05:'Proxima Nova Condensed'
            --m: 4rem;


}

@font-face {
  font-family: 'satoshy';
  src: url('assets/typography/satoshy/Satoshi-Medium.woff') format('woff'),  
  url('') format('woff');   
}

.scrolling-text { white-space: nowrap; overflow: hidden; animation: scrollRight 10s linear infinite; }

@keyframes scrollRight { 0% { transform: translateX(0%); } 100% { transform: translateX(100%); } }

html,body { scroll-behavior:smooth; height:100vh; padding:0; background-color:var(--bege); margin:0;  }
body::-webkit-scrollbar { display: none; }

.reveal {  position: relative; transform:translateY(60px); opacity:0; transition:all 2s ease; }
.reveal.active {  transform:translateY(1px); opacity:1; }
a:hover {  cursor: pointer; }
a { text-decoration:none; font-weight:400;  } 
img { height:auto; width:100%; }
.row { display:flex; justify-content: space-between; width:88%; margin:auto; align-items:center;  }
.hidden { opacity: 0; pointer-events: none; }
#promo_section { height:50px; background-color: #037486; display:flex; align-items:center; justify-content:center; }

/* Section 1 */

#section_01
{ min-height:455px; background-color:var(--bege); display:flex; align-items:center; justify-content:space-around; flex-direction:row; 
  background-image:url('/assets/images/mobile-banner-blur.webp'); background-repeat:no-repeat; background-size:cover; background-position:-70px;
}

#section_01 > article { height:550px; display:flex; align-items:center; justify-content:center; flex-direction:column; width:100%; backdrop-filter: blur(6px); background-color: #ffffff83; }
#article_container { display:flex;; flex-direction:column; align-items:flex-start; justify-content:space-evenly; }
#section_logo_container {  width:auto; max-height:60px; display:flex; align-items:center; justify-content:flex-start; }
#section_logo_container img { height:auto; border:1px solid white; width:200px; margin-left:60px; }
#section_01_container_A {  width:320px; display:flex;  align-items:center;  justify-content:flex-start;  margin-top:10px; height:42px;;}
#section_01_container_A > h1 { text-align:left;  color: #037486; font-size:40px; font-size:var(--font-01); }

#section_01_container_B {  height:110px; width:320px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px;;}
#section_01_container_B > p { text-align:left; font-family:var(--font-03); }

.section_01_btn { 
  background-color: #037486; color: #fff; border: none; padding: 9px 22px; border-radius: 5px; margin-top:10px; font-weight:bold;
  box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); transition: background-color 0.3s ease, transform 0.2s ease; margin-right:60px; font-family:'satoshy';
}

#puta { display:flex; flex-direction:row; align-items:center; justify-content:space-between; }
#Lara_main_image_home_page { display:none; height:300px; width:480px;  }
#section_001 { display:none;  }
#section_001 > article { display:none; }


/* Section 02 */

#section_02 { background:var(--bege); display:flex; align-items:center; justify-content: center; min-height:700px; flex-direction:column; display:none;  }
#section_02 > h1 { margin-top:40px; margin-bottom:20px; font-family:var(--font-01);  font-style:normal; font-size:30px; font-weight:700; color: #575757;}
#section_02 > article { height:590px; max-width:1403px; display:flex; flex-direction:row; align-items:center; justify-content:center; flex-wrap:wrap; margin-bottom:10px; gap:90px; } 
#section_02_heading_container { max-width:400px; height:490px; min-width:370px; display:flex; align-items:flex-start; justify-content:space-between; flex-direction:column;  }
#section_02_heading_container > h1 { font-family:var(--font-02); font-size:33px; margin-top:10px; font-weight:400; color: #575757; }
#section_02_heading_container > p { font-family:var(--font-01); font-size:18px;  margin-top:10px; font-weight:900; color:rgb(54, 54, 54);}
#section_02_coach-sitting     {  max-width:420px; height:490px; min-width:380px; display:flex; align-items:center; justify-content:center;}


/* newsletter */

#newsletter_section { 
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 93, 114, 1) 0%, rgb(1, 69, 80) 0%, rgba(2, 134, 156, 1) 100%, rgb(2, 144, 173) 100%); 
  display:flex; align-items:center; justify-content:center; position:relative; bottom:2px; border:1px solid rgb(185, 33, 33); padding:20px;
}

#newsletter_section > article { 
  width:1170px; height:358px; border-radius:30px; background-image:url('assets/images/test.png'); background-repeat:no-repeat; background-size:cover; display:flex; align-items:center; justify-content:center;
  gap:10px; 
  
}

/* Section 04 */

#section_04 {  max-height:910px; display:flex; align-items:center; justify-content:space-around;  width:100%; padding:10px; flex-direction:column; background-color:white; border:1px solid red;}

#section_04 > article { max-height:1230px;  min-width:395px; max-width:1200px; display:flex;  align-items:center;  justify-content:center; }

/* Section 05 */

#section_05 { display:flex; align-items:center; justify-content:center; background-color:var(--white);  flex-wrap:wrap; flex-direction:row;  padding:10px; margin:auto; gap:30px;  }
#section_05 > #section_05_article_01 {  max-width:600px; display:flex; flex-direction:column; align-items:center; justify-content:space-between; padding:5px; border:1px solid black;  }
#section_05 > #section_05_article_01 > h5 > a { color:#037486; text-decoration:underline; }
#section_05 > #section_05_article_02 {  max-width:670px; display:flex;  align-items:center; justify-content:center; border:1px solid black;  }
#section_05_article_01 > h1 { font-family:var(--font-02); font-style:normal; font-size:30px; font-weight:700; color:#212121c2; text-align:center;}
#section_05 > article > p  { text-align:justify; padding:16px; font-size:17.6px; font-family:sans-serif; font-weight:400; font-kerning:auto; color:#212121; } 
#section_05_article_01 > h5 { font-family:Arial, Helvetica, sans-serif; font-style:normal; font-size:13.8px; font-weight:400; color: rgb(46, 46, 46); text-align:center; padding:5px;}
#workbook_container { display:flex; align-items:center; justify-content:space-between; flex-direction:column;   }


/* Add styles for form inputs */
#download_form { display: flex; flex-direction: row;  flex-wrap:wrap; align-items:center; width:100%; gap:10px; justify-content:center;   }

#download_form input[type="text"],
#download_form input[type="email"]
 {  width:47%; margin-bottom: 13px; padding: 14px; font-size: 16px;  border-radius: 2px; outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease; background-color: rgba(184, 184, 184, 0.1);  
    color: black; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid rgba(61, 60, 60, 0.308);
}

#download_form button{  
  width:98%; margin-bottom: 13px; padding: 14px; font-size: 16px; border: none; border-radius: 8px; outline: none; transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  background-color: rgba(32, 32, 32, 0.1);  color: black;  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); font-family:var(--font-06); font-weight:700; 
}

#download_form input[type="text"]::placeholder,
#download_form input[type="email"]::placeholder {
  color: rgba(68, 68, 68, 0.7); font-weight:600;
}
#download_form input[type="text"]:focus,
#download_form input[type="email"]:focus { border-color: #037486; }
#download_form button { background-color: #037486; color: #fff; border: none; border-radius: 5px; cursor: pointer; }
#download_form button:hover { background-color: #025c70; }
#download_form button:active { scale:0.9;}

/* Section 06 */

#section_06 {  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 93, 114, 1) 0%, rgb(1, 69, 80) 0%, rgba(2, 134, 156, 1) 100%, rgb(2, 144, 173) 100%);  
  margin-top:-1px; display:flex; align-items:center; justify-content:center; flex-direction:column; padding-bottom:20px; padding-top:50px; padding:10px;
}

#section_06 > article {   max-height:3470px; min-width:350px; display:flex; flex-direction:row; max-width:1340px; 
  align-items:center; justify-content:center;  flex:1; gap:17px; flex-wrap:wrap; margin-bottom:50px; max-width:1340px; 
}

#section_06_heading > h1 {  color:white; font-family:var(--font-01); font-size:35px; text-align:center;}
#section_06_heading { max-width:700px; margin-top:50px; margin-bottom:50px;}

#articles_btn > button { border:transparent; background-color:var(--bege); color:var(--light-blue); padding:10px 25px 10px 25px; border-radius:5px; font-weight:600; margin-top:40px; cursor:pointer;}
#articles_btn_02 > button { border:transparent; background-color:#037486; color:rgba(255, 255, 255, 0.918); padding:10px 25px 10px 25px; border-radius:5px; font-weight:600; margin-top:40px; }
.articles_container {  min-height:490px; width:340px; display:flex; flex-direction:column; align-items:center; justify-content:space-between; background-color:white; border-radius:4px;  transition: all 0.3s ease; cursor:pointer;}
.articles_container:hover { scale:1.05; }

.articles_container:nth-child(4) { display:none; }
.articles_container:nth-child(5) { display:none; }
.articles_container:nth-child(6) { display:none; }
.articles_sub_container_A {  border-radius:4px 4px 0px 0px; width:340px; height:140px; background-color:black; display:flex; align-items:flex-start; justify-content:flex-end; }
.articles_mini_indicator {  height:25px; width:68px; background-color:var(--light-blue); border-radius:20px; display:flex; align-items:center; justify-content:center; margin-right:15px; margin-top:20px; } 
.articles_mini_indicator > h3 { color:white; font-size:10px; text-transform:uppercase; font-family:var(--font-03); }

.articles_sub_container_AB {  height:auto; display:flex; flex-direction:column; align-items:flex-start; justify-content:space-around; gap:10px;  width:300px; flex:1; }
.articles_sub_container_AB > h2 { color:rgb(84, 83, 83); font-family:var(--font-01); font-size:27px; ; }
.articles_sub_container_AB > p  { color:gray; font-family:var(--font-03); font-size:14px; text-align:left;  }
.articles_sub_container_AB > a  { color:#037486; font-family:var(--font-03); font-weight:bold; }

#article_page_01 { background-repeat:no-repeat; background-size:cover; background-image:url('https://images.unsplash.com/photo-1615076754255-351148b9d194?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position:center;}
#article_page_02 { background-repeat:no-repeat; background-size:cover; background-image:url('https://images.unsplash.com/photo-1496112576525-8b31e9ce4872?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position:center; }
#article_page_03 { background-repeat:no-repeat; background-size:cover; background-image:url('https://images.unsplash.com/photo-1616587226960-4a03badbe8bf?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  }
#article_page_04 { background-repeat:no-repeat; background-size:cover; background-image:url('https://images.unsplash.com/photo-1576267423048-15c0040fec78?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position:center; }
#article_page_05 { background-repeat:no-repeat; background-size:cover; background-image:url('https://images.unsplash.com/photo-1541178735493-479c1a27ed24?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position:center; }
#article_page_06 { background-repeat:no-repeat; background-size:cover; background-image:url('https://images.unsplash.com/photo-1613294326794-e7c74fe886e2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); }

.articles_sub_container_AB:nth-child(6) > p { margin-bottom:90px; }
.articles_sub_container_B {  border-top:1px solid gray; width:340px; height:38px; display:flex; align-items:center; justify-content:flex-start; }
.articles_sub_container_B h4 {  margin-left:24px; color:gray; font-family:var(--font-03); font-size:13px; font-weight:400;}
#articles_btn { max-width:300px; }
.click_to_learn_more { width:200px; height:38px; background-color:var(--bege); border-radius:7px; display:flex; align-items:center; }
.click_to_learn_more > img { width: 23px; margin-left:10px; }
.click_to_learn_more > h4#click_to_learn_more_01 { margin-left:10px; font-family:Arial, Helvetica, sans-serif; color:black; font-size:15px; font-weight:400; }
.click_to_learn_more_02 { width:200px; height:48px; background-color:var(--light-blue); border-radius:7px; display:flex; align-items:center; }
.click_to_learn_more_02 > img { width: 25px; margin-left:10px; }
.click_to_learn_more_02 > h4#click_to_learn_more_01 {  margin-left:10px; font-family:Arial, Helvetica, sans-serif;  color:var(--bege); font-size:15px; font-weight:400; }
.wave {  animation: waveEffect 3s ease-in-out infinite;  }

@keyframes waveEffect { 0%, 100% { transform: translateY(0); } 25%, 75% { transform: translateY(-3px); } 50% { transform: translateY(0); } }

/* Section 07 */

#section_07 { background-color: #2b4162; background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); display:flex; align-items:center; justify-content:center; min-height:700px; }

#section_07 > article { border:1px solid white; width:80%; display:flex; align-items:center; justify-content:space-between;  }

/* faq Container */

.faq-container { 
  margin: 0 auto; display: flex; flex-direction: column; gap: 16px;  width:100%; padding: 1.4em;  max-height:1400px; position:relative; bottom:1px; max-height:3000px;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,93,114,1) 0%, rgb(1, 69, 80) 0%, rgba(2,134,156,1) 100%, rgb(2, 144, 173) 100%); 
}

details { font-size: 1rem; margin: 0 auto; width: 100%; border-radius: 8px; position: relative;  max-width: 600px; transition: all 0.3s ease-in-out;  background-color:#ffffff21; font-family:var(--font-01);}
details:hover { background-color:#00000043; color:#00ddff;}
details:hover svg { stroke:#00ddff; }
details[open] { background-color:#00000043; color:#00ddff;}
details[open] .faq-title { color:#00ddff; }
details[open] summary svg { stroke: var(--primary-blue); transform: rotate(90deg); }
summary { user-select: none; cursor: pointer; font-weight: 500; display: flex; list-style: none; padding: 1em; align-items: center; }
summary svg { stroke: var(--white); }
summary:hover .faq-title { color: var(--primary-blue); }
summary::-webkit-details-marker { display: none; }
summary:focus { outline: none; }
.faq-title { color: var(--white); width: 90%; transition: all 250ms ease-in-out;     font-size: 1rem; }
.faq-content { color: var(--white); padding: 0.2em 1em 1em 1em; font-weight: 300; line-height: 1.5;    font-size: 0.9rem; }
.expand-icon { pointer-events: none; position: absolute; right: 1em; transition: all 150ms ease-out; }

/* Button Styles  */

/* button {  padding: 15px; background-color: #3498db; color: #fff; border: none; cursor: pointer; position: relative; overflow: hidden; transition: background-color 0.3s ease, box-shadow 0.3s ease; outline: none;  }
button::before { content: ''; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:0; height: 0; border-radius:50%; opacity:0; transition:width 0.3s ease, height 0.3s ease, opacity 0.3s ease;  }
button:hover { background-color:#037486; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
button:focus { background-color:#037486; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
button:active { transform: scale(0.95); }
button:hover::before, button:focus::before { width: 150%; height: 150%; opacity: 1; } */

/* Animations  */

.loader_pg { width: 48px; height: 48px; border-radius: 50%; display: inline-block; border-top: 3px  #000000; border-right: 3px  transparent; box-sizing: border-box; animation: rotation 1s linear infinite; }

.loader_overlay { 
  position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(255, 255, 255); backdrop-filter:blur(40px); 
  display: none; align-items: center; justify-content: center; opacity: 0; transition: opacity 0.5s ease-in-out;  z-index: 99999;
}

@keyframes rotation { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

html::-webkit-scrollbar { width: 12px; }
html::-webkit-scrollbar-track { border-radius: px; background-color: #e7e7e7; border: 1px solid #cacaca; box-shadow:inset 0 0 6px rgba(0, 0, 0, .3); }
html::-webkit-scrollbar-thumb { border-radius: px; background-color: #037486; }

/* Pre- Footer and Footer */

footer { display:flex;  align-items:center; justify-content:center; background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,93,114,1) 0%, rgb(1, 69, 80) 0%, rgba(2,134,156,1) 100%, rgb(2, 144, 173) 100%); }
footer > article {  width:100%; max-height:770px; border:1px solid white;} 
.footer_form_container{ position:relative; width:100%; max-height:1900px; padding: 0.5rem;background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,93,114,1) 0%, rgb(1, 69, 80) 0%, rgba(2,134,156,1) 100%, rgb(2, 144, 173) 100%);  overflow: hidden; display: flex;
  align-items: center; justify-content: center;
}

.form { 
  width: 100%; max-width: 1320px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden; display: grid; grid-template-columns: repeat(2, 1fr); 
}

.contact-form { background-color: #000000; position: relative; }
.circle { border-radius: 50%; background: linear-gradient(135deg, transparent 20%, #037486); position: absolute;}
.circle.one { width:130px; height:130px; top:130px; right: -40px; }
.circle.two { width: 80px; height: 80px; top: 10px; right: 30px;  }
.contact-form:before { content:""; position:absolute; width:26px; height:26px; background-color:#037486; transform:rotate(45deg);top:50px; left:-13px; }
#footer_form { padding: 2.3rem 2.2rem; z-index: 10; overflow: hidden; position: relative; }
.title { color: #fff; font-weight:500; font-size:1.5rem; line-height:1; margin-bottom:0.7rem; }
.input-container { position: relative; margin: 1rem 0; }
.input { 
  width:100%; outline:none; border:1px solid #fafafa; background:none; padding:0.6rem 1.2rem; color:#fff; font-weight:500;
  font-size: 0.95rem; letter-spacing: 0.5px; border-radius:5px; transition: 0.3s;
}
.input:focus { border: 2px solid #025c70; }

textarea.input { padding: 0.8rem 1.2rem; min-height:150px; border-radius:22px; resize:none; overflow-y:auto; }
label { display:none;}
.input-container label { position:absolute; top:50%; left:15px; transform:translateY(-50%); padding:0 0.4rem;
  color: #fafafa; font-size:0.9rem; font-weight:400; pointer-events: none; z-index:1000; transition:0.5s; 
}

.input-container.textarea label { top:1rem; transform: translateY(0); }

.btn { padding: 0.6rem 1.3rem; background-color: #fff; border: 2px solid #fafafa; font-size: 0.95rem; color: #025c70;
  line-height: 1; border-radius: 25px;outline: none; cursor: pointer; transition: 0.3s; margin: 0; }

.btn:hover { background-color: transparent; color: #fff; }

.input-container span { position: absolute; top:0; left:25px; transform:translateY(-50%); font-size:0.8rem; padding: 0 0.4rem;
  color: transparent; pointer-events: none; z-index: 500;
}

.input-container span:before,
.input-container span:after { content: ""; position:absolute; width:10%; opacity:0; transition:0.3s; height:5px; background-color: #1abc9c;
  top: 50%;transform: translateY(-50%);
}

.input-container span:before { left: 50%; }
.input-container span:after { right: 50%; }
.input-container.focus label {top: 0;transform: translateY(-50%);left: 25px;font-size: 0.8rem; }
.info { border:1px solid red;  }
.input-container.focus span:before,
.input-container.focus span:after { width: 50%; opacity: 1; }
.contact-info { padding:2.3rem 2.2rem; position:relative; border:1px solid red;  }
.contact-info .title { color: #811abc; }
.text { color: #333; margin: 1.5rem 0 2rem 0; }
.information { display: flex; color: #555; margin: 0.7rem 0; align-items: center; font-size: 0.95rem; }
.icon { width: 28px; margin-right: 0.7rem;}
.social-media { padding: 2rem 0 0 0; border:1px solid red; }
.social-media p { color: #333;}
.social-icons { display: flex; margin-top: 0.5rem; }

.social-icons a { width: 35px; height: 35px; border-radius: 5px; background: linear-gradient(45deg, #037486, #037486);  color: #fff;
  text-align: center; line-height: 35px; margin-right: 0.5rem; transition: 0.3s; }

.social-icons a:hover { transform: scale(1.05); }
.contact-info:before { content: ""; position: absolute; width: 110px; height: 100px; border: 22px solid #1abc9c; border-radius: 50%;
  bottom: -77px; right: 50px; opacity: 0.3;
}

.big-circle { position: absolute; width: 500px; height: 500px; border-radius: 50%; background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%; right: 50%; transform: translate(-40%, 38%);
}

.big-circle:after { content: ""; position: absolute; width: 360px; height: 360px; background-color: #fafafa; border-radius: 50%;
  top: calc(50% - 180px); left: calc(50% - 180px);
}

.square { position: absolute; height: 400px; top: 50%; left: 50%; transform: translate(181%, 11%); opacity: 0.2;}

@media (max-width: 850px) { .form { grid-template-columns: 1fr; }

  .contact-info:before { bottom: initial; top: -75px; right: 65px; transform: scale(0.95); }
  .contact-form:before { top: -13px; left: initial; right: 70px; }
  .square { transform: translate(140%, 43%); height: 350px; }
  .big-circle { bottom: 75%; transform: scale(0.9) translate(-40%, 30%); right: 50%; }
  .text { margin: 1rem 0 1.5rem 0; }
  .social-media { padding: 1.5rem 0 0 0; }
}

  .contact-info:before { display: none; }
  .square,
  .big-circle { display: none; }
  #footer_form,
  .contact-info { padding: 1.7rem 1.6rem; }
  .text,
  .information,
  .social-media p { font-size: 0.8rem;  }
  .title {font-size: 1.15rem; }
  .social-icons a { width: 30px; height: 30px;  line-height: 30px; }
  .icon { width: 23px; }
  .input { padding: 0.45rem 1.2rem; }
  .btn { padding: 0.45rem 1.2rem; }


  

/* -----------------------------------------------------------------------------------------------  Small TABLETS  ---------------------------------------------------------------------------------------- */

@media screen and ( min-width:752px) and ( max-width:991px) { 
#section_01 { display:none; }
#section_01 > article { display:none; }
#section_logo_container_large { display:none; }
.section_01_btn { font-family:var(--font-01); font-size:18px; padding: 15px 30px;font-weight:bold; }
.courses_container:nth-child(3) { display:none; }
.articles_container:nth-child(4) { display:flex; }
#section_001 { min-height:300px; background-color: #c5c1c1;
  opacity: 1;  background-image: linear-gradient(to right, #ebe6e4, #ebe6e4 2px, #c5c1c1 2px, #c5c1c1 ); background-size: 3px 100%;  display:flex; align-items:flex-end; justify-content:space-between;  flex-direction:row; max-width:1920px; padding-left:20px;  }
#Lara_main_image_home_page { display:none; height:300px; width:480px;  }
#section_logo_container { width:210px; max-height:60px; display:flex;  align-items:center; justify-content:flex-start; margin-top:40px;  }
#section_logo_container img { position:relative; right:0px; }
#section_001_container_A {   max-width:470px;  display:flex;  align-items:center;  justify-content:flex-start; max-height:70px; margin-top:10px;}
#section_001_container_A > h1 { text-align:left; font-family:var(--font-03); color: #037486; font-size:33.7px; flex:1;}
#section_001_container_B {  height:110px; width:370px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px; }
#section_001_container_B > p { text-align:left; font-family:var(--font-03); color: #575757; }
#section_001_B {  height:auto; max-width:480px; display:flex; align-items:center; justify-content:center; }
.articles_container:nth-child(4) { display:flex; }
#section_005 { height:400px; background-color:var(--bege); display:flex; align-items:center; justify-content:space-between; padding-left:50px; max-width:1240px; flex-direction:row; padding-right:50px; gap:10px; display:none;}
#section_005_A {  height:280px; width:350px; display:flex; align-items:center; justify-content:space-between; flex-direction:column;}
#section_005_B {  height:300px; width:440px; }


#section_005_sub_container_A1 {  height:80px; width:300px; display:flex; flex-direction:column; align-items:center; justify-content:space-between; }
button#section_005_btn { border:transparent; background-color:var(--light-blue); color:var(--bege); width:190px; border-radius:5px; }

#articles_btn > button { border:transparent; background-color:var(--bege); color:var(--light-blue); padding:10px 25px 10px 25px; border-radius:5px; font-weight:600; margin-top:40px; 
font-family:var(--font-02); }
}

/* -----------------------------------------------------------------------------------------------  Large Tablets and LAPTOPS   ---------------------------------------------------------------------------------------- */

@media screen and ( min-width:992px) and ( max-width:1199px ) { 

  #section_01 { display:none; }
  #section_01 > article { display:none; }
  #section_logo_container_large { display:none; }
  .section_01_btn { font-family:var(--font-01); font-size:18px; padding:8px 40px; }
  #pre-footer { display:none; }
  .courses_container:nth-child(3) { display:none; }
  
  .articles_container:nth-child(4) { display:flex; }

  #section_001 {background-color: #c5c1c1;
    opacity: 1;  background-image: linear-gradient(to right, #ebe6e4, #ebe6e4 2px, #c5c1c1 2px, #c5c1c1 ); background-size: 3px 100%;  display:flex; align-items:flex-end; justify-content:space-between;  flex-direction:row;   }
  #Lara_main_image_home_page { display:none; height:300px; width:480px;  }
  
  #section_001_container_A {   max-width:470px;  display:flex;  align-items:center;  justify-content:flex-start; height:460px;  margin-top:10px; }
  #section_001_container_A > h1 { text-align:left; font-family:var(--font-03); color: #037486; font-size:33.7px; flex:1; }
  
  #section_001_container_B {  height:110px; width:370px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px; }
  #section_001_container_B > p { text-align:left; font-family:var(--font-03); color: #575757;}
  #section_logo_container img { position:relative; right:0px; }

  #section_001_A {  height:380px; width:580px; display:flex; align-items:flex-start; justify-content:flex-start; flex-direction:column; padding:12px;;  }
  
  #section_001_B {  height:auto; max-width:480px; display:flex; align-items:center; justify-content:center; }
  
  .articles_container:nth-child(4) { display:flex; }
  
  #section_005 { 
    height:400px; background-color:var(--bege); display:flex; align-items:center; justify-content:space-between;  
    padding-left:50px; max-width:1240px; flex-direction:row; padding-right:50px; gap:10px; display:none;
  }
  
  #section_005_A {  height:280px; width:350px; display:flex; align-items:center; justify-content:space-between; flex-direction:column;}
  #section_005_B {  height:300px; width:440px; }
  
  #section_005_sub_container_A1 {  height:80px; width:300px; display:flex; flex-direction:column; align-items:center; justify-content:space-between; }
  button#section_005_btn { border:transparent; background-color:var(--light-blue); color:var(--bege); width:190px; border-radius:5px; }
  
  #articles_btn > button { border:transparent; background-color:var(--bege); color:var(--light-blue); padding:10px 25px 10px 25px; border-radius:5px; font-weight:600; margin-top:40px; }
  
  #section_06_heading > h1 {  color:white; font-family:var(--font-01); font-size:43px;}
#section_06_heading { max-width:700px; margin-top:50px; margin-bottom:50px; }
}
  

/* ----------------------------------------------------------------------------------------------- Desktops   ---------------------------------------------------------------------------------------- */

@media screen and ( min-width:1200px) and ( max-width:1919px ) { 

#section_01 { display:none; }
#Lara_main_image_home_page { display:none; }
#section_01 > article { display:none; }
.section_01_btn { font-family:var(--font-01); font-size:18px; padding: 8px 40px; }
#pre-footer { display:none; }
.articles_container:nth-child(4) { display:flex; }
.articles_container:nth-child(5) { display:flex; }
.articles_container:nth-child(6) { display:flex; }
.courses_container:nth-child(3) { display:flex; }

#section_001 { min-height:500px;background-color: #c5c1c1;
  opacity: 1;  background-image: linear-gradient(to right, #ebe6e4, #ebe6e4 2px, #c5c1c1 2px, #c5c1c1 ); background-size: 3px 100%;  display:flex; align-items:flex-end; justify-content:space-evenly;  flex-direction:row; max-width:1920px; gap:60px; padding-left:20px; }

#section_001_B {  height:auto; max-width:650px; display:flex; align-items:center; justify-content:center; position:relative;}

#section_001_A               {  height:420px; width:580px; display:flex; align-items:flex-start; justify-content:space-evenly; flex-direction:column; margin-bottom:10px;  margin-bottom:30px;  }
#section_001_container_B     {  height:110px; width:430px;  display:flex;  align-items:center;  justify-content:flex-start; margin-left:40px; }
#section_001_container_B > p { text-align:left; font-family:var(--font-03);color: #575757; }
#section_logo_container      {  width:270px; max-height:60px; display:flex;  align-items:center; justify-content:flex-start; margin-top:40px;  margin-left:100px;    }
#section_001_container_A     {  max-width:500px;  min-width:370px;  display:flex;  align-items:center;  justify-content:flex-start; height:auto; margin-left:40px;  }
#section_001_container_A > h1 { text-align:left; font-family:var(--font-03); color: #037486; font-size:50px; }
#puta { margin-left:40px; }
#section_001_B {  height:auto; max-width:550px; display:flex; align-items:center; justify-content:center; }
.section_01_btn          { font-family:var(--font-01); font-size:16px; padding: 8px 22px; font-weight:bold; }


.articles_container:nth-child(4) { display:flex; }

#section_005 { 
  height:400px; background-color:var(--bege);  display:flex; align-items:center; justify-content:space-between; 
  padding-left:50px; max-width:1240px; flex-direction:row; padding-right:50px; gap:10px; display:nonesec;
}

#section_005_A {  height:280px; width:350px; display:flex; align-items:center; justify-content:space-between; flex-direction:column;}
#section_005_B {  height:300px; width:440px; }

#section_005_sub_container_A1 {  height:80px; width:300px; display:flex; flex-direction:column; align-items:center; justify-content:space-between; }
button#section_005_btn { border:transparent; background-color:var(--light-blue); color:var(--bege); width:190px; border-radius:5px; }

#section_06_heading > h1 {  color:white; font-family:var(--font-01); font-size:43px;}
#section_06_heading { max-width:700px; margin-top:50px; margin-bottom:50px;}

  }

  /* -----------------------------------------------------------------------------------------------  Extra Large Screens   ---------------------------------------------------------------------------------------- */

@media screen and ( min-width:1920px ) { 

#section_01 { display:none; }
#section_01 > article { display:none; }
.section_01_btn { font-family:var(--font-01); font-size:18px; padding: 8px 40px; }
.articles_container:nth-child(4) { display:flex; }
.articles_container:nth-child(5)   { display:flex; }
.articles_container:nth-child(6)   { display:flex; }
.courses_container:nth-child(3)    { display:flex; }

#section_logo_container {  width:390px; max-height:100px; display:flex;  align-items:center; justify-content:flex-start; margin-top:40px;  margin-left:70px; }
#section_logo_container > img { position:relative;  }

#articles_btn > button { border:transparent; background-color:var(--bege); color:var(--light-blue); padding:10px 25px 10px 25px; border-radius:5px; font-weight:600; margin-top:40px; }

#section_001 { 
  display:flex; align-items:flex-end; justify-content:space-between;  flex-direction:row; background-color: #c5c1c1;
  opacity: 1;  background-image: linear-gradient(to right, #ebe6e4, #ebe6e4 2px, #c5c1c1 2px, #c5c1c1 ); background-size: 3px 100%; 
}
#Lara_main_image_home_page { display:none; height:300px; width:480px;  }

#section_001_container_A {   max-width:470px;  display:flex;  align-items:center;  justify-content:flex-start; max-height:190px;  margin-top:20px; margin-bottom:10px;}
#section_001_container_A > h1 { text-align:left; font-family:var(--font-03); color: #037486; font-size:33.7px; flex:1;}

#section_001_container_B {  height:110px; width:370px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px; }
#section_001_container_B > p { text-align:left; font-family:var(--font-03); font-size:16px; color: #575757; }

#section_001_A {  height:380px; width:580px; display:flex; align-items:flex-start; justify-content:flex-start; flex-direction:column; margin-left:12px;; }
#section_001_B {  height:auto; max-width:480px; display:flex; align-items:center; justify-content:center; }

.articles_container:nth-child(4) { display:flex; }

#section_005 { height:400px; background-color:var(--bege);  display:flex; align-items:center; justify-content:space-between; 
              padding-left:50px; max-width:1240px; flex-direction:row; padding-right:50px; gap:10px; display:none;
}

#section_005_A {  height:280px; width:350px; display:flex; align-items:center; justify-content:space-between; flex-direction:column;}
#section_005_B {  height:300px; width:440px; }

#section_005_sub_container_A1 {  height:80px; width:300px; display:flex; flex-direction:column; align-items:center; justify-content:space-between; }
button#section_005_btn { border:transparent; background-color:var(--light-blue); color:var(--bege); width:190px; border-radius:5px; }

#section_06_heading > h1 {  color:rgba(255, 255, 255, 0.876); font-family:var(--font-01); font-size:43px;}
#section_06_heading { max-width:700px; margin-top:50px; margin-bottom:50px;}   }


.wrapper { max-width: 1100px; width: 100%; position: relative; border:1px solid black; }

.wrapper i { top: 50%; height: 50px; width: 50px; cursor: pointer; font-size: 1.25rem; position: absolute; text-align: center; line-height: 50px;
            background: #fff; border-radius: 50%; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); transform: translateY(-50%); transition: transform 0.1s linear;
}

.wrapper i:active { transform: translateY(-50%) scale(0.85); }

.wrapper .carousel {  display: grid; grid-auto-flow: column; grid-auto-columns: calc((100% / 3) - 12px); overflow-x:auto; 
                      gap:16px; border-radius: 8px; scroll-behavior: smooth; scrollbar-width: none;  scroll-snap-type: x mandatory; padding:40px;
}
.book_free_consultation:active { transform: translateY(-50%) scale(0.85); }
.carousel::-webkit-scrollbar { display: none; }
.carousel.no-transition { scroll-behavior: auto; }
.carousel.dragging { scroll-snap-type: none; scroll-behavior: auto; }
.carousel.dragging .card { cursor: grab; user-select: none; }
.carousel .card,
.carousel .img { display: flex; justify-content: center; align-items: center; transition:all 0.3s ease-in-out; }
.carousel .card { scroll-snap-align: start; height: 400px; list-style: none; background: #fff; cursor: pointer; padding-bottom: 15px; flex-direction: column; border-radius: 8px;  }
.carousel .img { background: #037486; height: 148px; width: 148px; border-radius: 50%; }
.card .img img { width: 140px; height: 140px; border-radius: 50%; object-fit: cover; border: 4px solid #fff; }
.carousel .card h2 { font-weight: 500; font-size: 1.36rem; margin: 30px 0 5px;  }
.carousel .card span { color: #6A6D78; font-size: 1.31rem; text-align:center; margin-top:3px;}
.black_hole:active { transform: translateY(-50%) scale(0.85); }
.card_social_media_container { display:flex; align-items:center; justify-content:center; gap:10px;  }
.card { box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; }
.card:hover { scale:0.9; }


@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.container { height: 100vh; width: 100%; }

.loading-page {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027); height: 100vh; width: 100%; display: flex; flex-direction: column;
  gap: 1.5rem; align-items: center; justify-content: center; color: #191654; position: fixed; top: 0; left: 0; z-index: 9999; 
}

#svg { height: 350px; width: 350px; stroke: white; fill-opacity: 0; stroke-width: 3px; stroke-dasharray: 4500; animation: draw 8s ease; }

@keyframes draw {
  0%   { stroke-dashoffset: 4500; }
  100% { stroke-dashoffset: 0; }
}

.name-container { height: 30px; overflow: hidden }

.logo-name { color: #fff; font-size: 20px; letter-spacing: 12px; text-transform: uppercase; margin-left: 20px; font-weight: bolder; }

@keyframes draw {
  0%   { stroke-dashoffset: 4500; }
  100% { stroke-dashoffset: 0; }
}

.name-container { height: 30px; overflow: hidden; }

.logo-name { color: #fff; font-size: 20px; letter-spacing: 12px; text-transform: uppercase; margin-left: 20px; font-weight: bolder; }