@charset "utf-8"; 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

* { margin:0px; padding:0px; box-sizing:border-box;  }

:root  {  
    /* COLOR - PALETTES  */

            --white:#FFFFFF;
            --bege:#F5EDEA;
            --light-blue:#037486;
            --dark-gray:hwb(228 82% 16%);
            --coach-container:hwb(188 1% 47% / 0.478);;
            --font-01:'Inter';
            --font-02:'Playfair Display';
            --font-03:'DM Sans';
            --font-04:'MontSerrat';
            --font-05:'Proxima Nova Condensed'

}



html { scroll-behavior:smooth; background-color:var(--bege);}
body {  height:100dvh; padding:0;  }

.reveal {  position: relative; transform:translateY(60px); opacity:0; transition:all 2s ease; }
.reveal.active {  transform:translateY(1px); opacity:1; }

a:hover {  cursor: pointer;}
a { text-decoration:none; font-weight:400;  } /* 1.6rem == 16px */
img { height:auto; width:100%; }

#section_01 { border: 3px solid red; display: flex; flex-wrap: wrap; padding: 5px; justify-content: center; }
#section_01 > article { border: 2px solid black; width: calc(50% - 10px);  margin: 5px; display: flex; flex-direction: column;  align-items: center; height: 650px; }
#section_01 > article:nth-child(1) { justify-content:center;  }
#section_01 > article:nth-child(2) { justify-content:center; }
#photo_container_001 {  border: 1px solid black;  border-radius: 50%; height: 400px;  width: 300px; }

#section_01_article_02_container_A,
#section_01_article_02_container_B,
#section_01_article_02_container_C { border: 1px solid black; width: calc(100% - 20px); padding: 10px;  margin: 5px auto; box-sizing: border-box; }
#container_btn_external { display: flex; justify-content: center;  }

@media screen and (max-width: 768px) { #section_01 { flex-direction: column;  }

#section_01 > article { width: calc(100% - 10px);  } }
#section_02 { border:3px solid rgb(74, 209, 40); display:flex; flex-direction:row; flex-wrap:wrap; padding:5px; align-content:center; justify-content:center;   }
#section_02 > article:nth-child(1) { border:1px solid black; width:100%; display:flex; flex-direction:column; align-items:center; justify-content:space-evenly; gap:10px;}
#section_02_article_01_container_A { border:1px solid rgb(50, 47, 255); display:flex; align-items:center; justify-content:center; width:350px; height:70px; }
#section_02_article_01_container_B { border:1px solid rgb(50, 47, 255); display:flex; align-items:center; justify-content:center; gap:90px; min-width:350px;  flex-wrap:wrap; }
#section_02 > article:nth-child(2) { border:1px solid black; width:100%; display:flex; flex-direction:column; align-items:center; justify-content:space-evenly;  }

.value_containers { border-radius:40px; width:280px; height:340px; border:3px solid black; display:flex; flex-direction:column;
align-items:center; justify-content:space-evenly;  margin:20px;}
.value_containers > p { text-align:center; }

#section_02_article_01_container_C { border:2px solid rgb(255, 7, 27); display:flex; align-items:center; justify-content:flex-start; height:900px; width:100%; gap:30px; flex-wrap:wrap; }
#photo_container { border:3px solid black; display:flex; height:410px; width:300px; border-radius:30px;  }
#coach_info_container { border:1px solid black; display:flex; width:70%; height:400px; display:flex; align-items:center; justify-content:flex-start; flex-direction:column; }
#h3_coach_container { border:1px solid black; height:60px; width:100%; display:flex; align-items:center; justify-content:center; }
#h1_coach_container { border:1px solid black; height:60px; width:100%; display:flex; align-items:center; justify-content:center; }
#p_coach_container  { border:1px solid black; height:auto; width:100%; display:flex; align-items:center; justify-content:space-between; flex-direction: column; gap:20px; text-align:justify;}


.flip-card { background-color: transparent;  width:280px; height:340px; perspective: 1000px; border-radius:30px; }
.title { font-size: 1.5em; font-weight: 900; text-align: center; margin: 0; }
.flip-card-inner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 0.8s; transform-style: preserve-3d;}
.flip-card:hover .flip-card-inner { transform: rotateY(180deg); }
.flip-card-front, .flip-card-back { box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2); position: absolute; display: flex; flex-direction: column; justify-content: center; 
                                    width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; border: 2px solid black; border-radius:30px;
}

.flip-card-front { background-color:red; }
.flip-card-back { background-color: #555555; color: black; transform: rotateY(180deg); }

.type--A { --line_color: #555555; --back_color:#00a560; }
._button { 
			position:relative ; z-index:0; width:240px; height:56px; text-decoration:none; font-size:14px; 
			letter-spacing:2px; transition:all .3s ease; font-weight:bold; color:var(--line_color);
}
.button__text{ display : flex ; justify-content : center ; align-items : center ; width : 100% ; height : 100% ; }
._button::before, ._button::after, .button__text::before, .button__text::after{
	content:'' ; position:absolute; height:3px; border-radius:2px; 
	background : var(--line_color) ;transition : all .5s ease ; 
}
._button::before{ top : 0 ; left : 54px ; width : calc( 100% - 56px * 2 - 16px ) ; }
._button::after { top : 0 ; right : 54px ; width : 8px ; }
.button__text::before{ bottom : 0 ; right : 54px ; width : calc( 100% - 56px * 2 - 16px ) ; }
.button__text::after{ bottom : 0 ; left : 54px ; width : 8px ; }
.button__line{ position : absolute ; top : 0 ; width : 56px ; height : 100% ; overflow : hidden ; }
.button__line::before{ 
	content : '' ; position:absolute; top:0; width:150%; height:100%; box-sizing:border-box; border-radius:300px;
	border : solid 3px var(--line_color) ; 
}
.button__line:nth-child(1), .button__line:nth-child(1)::before{ left : 0 ; }
.button__line:nth-child(2), .button__line:nth-child(2)::before { right : 0 ;  }
._button:hover { letter-spacing : 1px ;  }
._button:hover::before, ._button:hover .button__text::before { width : 8px ;   }
._button:hover::after, ._button:hover .button__text::after {  width : calc( 100% - 56px * 2 - 16px ) ;   }
._button:not(:last-child) { margin-bottom:64px; }
  #container_btn_external{ width:100%; height:100px; border:1px solid red; display:flex; flex-direction:column; justify-content:center; align-items:center; }


#section_01_copy { border: 3px solid red; display: flex; flex-wrap: wrap; padding: 5px; justify-content: center; }
#section_01_copy > article { border: 2px solid black; display: flex; flex-direction: column;  align-items: center; height: 650px; }
#section_01_copy > article:nth-child(1) { justify-content:center; align-items:flex-start;  width: calc(40% - 10px);  margin: 5px; }
#section_01_copy > article:nth-child(2) { justify-content:center;   width: calc(60% - 10px);  margin: 5px;}
#photo_container_001_copy {  border: 1px solid black;  border-radius: 0px 30px 30px 0px; height:400px;  width: 300px; }

#section_01_article_02_container_A_copy,
#section_01_article_02_container_B_copy,
#section_01_article_02_container_C_copy { border: 1px solid black; width: calc(100% - 20px); padding: 10px;  margin: 5px auto; box-sizing: border-box; }

@media screen and (max-width: 768px) { #section_01_copy { flex-direction: column;  }}