@charset "utf-8"; 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* { margin:0px; padding:0px; box-sizing:border-box;  }

:root  {  
    /* COLOR - PALETTES  */

            --white:#f8f8f8;
            --bege:#F5EDEA;
            --light-blue:#037486;
            --dark-gray:hwb(228 82% 16%);
            --coach-container:hwb(188 1% 47% / 0.478);;
            --font-01:'Inter';
            --font-02:'Playfair Display';
            --font-03:'DM Sans';
            --font-04:'MontSerrat';
            --font-05:'Proxima Nova Condensed'
}

.source_serif_bold { font-family: "Source Serif 4", serif; font-optical-sizing: auto; font-weight:600; font-style: normal; }
.source_serif_normal { font-family: "Source Serif 4", serif; font-optical-sizing: auto; font-weight:400; font-style: normal; }
.source_serif_h1 { font-family: "Source Serif 4", serif; font-optical-sizing: auto; font-weight:600; font-style: normal; font-size:45px; margin-bottom:30px; }
.source_serif_header { font-family: "Source Serif 4", serif;font-optical-sizing: auto; font-weight:600; font-style: normal; font-size:46px;  }
.source_serif_quote { font-family: "Source Serif 4", serif; font-optical-sizing: auto; font-weight:600; font-style: italic; }

.inter_p { font-family:var(--font-01); font-optical-sizing: auto; line-height:25px; }

html { scroll-behavior:smooth;background-color: #F5EDEA;}
body {  height:100dvh; padding:0; background-color: #F5EDEA; }
body::-webkit-scrollbar { display: none; }

.reveal {  position: relative; transform:translateY(60px); opacity:0; transition:all 2s ease; }
.reveal.active {  transform:translateY(1px); opacity:1; }

a:hover {  cursor: pointer;}
a { text-decoration:none; font-weight:400;  } /* 1.6rem == 16px */
img { height:auto; width:100%; }

#section_01 {  display: flex; flex-wrap: wrap;  justify-content: center; }
#section_01 > article {  width: calc(50% - 0px);   display: flex; flex-direction: column;  align-items: center; height: 650px; }
#section_01 > article:nth-child(1) { justify-content:center;  background-color:#F5EDEA; }
#section_01 > article:nth-child(2) { justify-content:center; background-color: #F5EDEA; }
#photo_container_001 { border-radius:50%; height:500px; width:400px; background-position-x:-0px; background-image:url('../../assets/images/lara-sitting-straight-face.JPG'); background-repeat:no-repeat; background-size:cover; }

#section_01_article_02_container_A {  width:70%; display:flex; align-items:center; justify-content:center; margin-top:10px; min-height:80px; }
#section_01_article_02_container_A > h1 { font-family:var(--font-01); font-size:33px; }

#section_01_article_02_container_B {  width:80%; display:flex; align-items:center; justify-content:center; margin-top:10px; min-height:70px; }
#section_01_article_02_container_B > h2 { font-family:var(--font-02); font-size:21px; font-weight:normal; }

#section_01_article_02_container_C {  width:80%; display:flex; align-items:center; justify-content:center; margin-top:10px; min-height:110px; padding:10px; }
#section_01_article_02_container_C > p { font-family:var(--font-01); font-size:21px; font-weight:normal; }


@media screen and (max-width: 768px) {

#section_01 { flex-direction: column;  }  
#section_01_article_02_container_A,
#section_01_article_02_container_B,
#section_01_article_02_container_C {  width:calc(100% - 20px); padding:10px;  margin:5px auto; box-sizing: border-box; }
#container_btn_external { display: flex; justify-content: center;  }
#section_01 > article { width: calc(100% - 10px);  } 
}

#section_02 { margin:10px; display:flex; flex-direction:row; flex-wrap:wrap; padding:5px; align-content:center; justify-content:center;   }
#section_02 > article:nth-child(1) { width:100%; display:flex; flex-direction:column; align-items:center; justify-content:space-evenly; gap:10px; margin:40px; padding:40px;}
#section_02_article_01_container_A { display:flex; align-items:center; justify-content:center; min-width:250px; max-height:130px; margin-bottom:30px; }
#section_02_article_01_container_A > h1 { font-family: "Source Serif 4", serif; font-size:37px; color: #070d1fe7; text-align:center; }

#section_02_article_01_container_B { display:flex; align-items:center; justify-content:center; gap:90px;  flex-wrap:wrap; margin-top:20px; }
#section_02 > article:nth-child(2) { width:100%; display:flex; flex-direction:column; align-items:center; justify-content:space-evenly;  margin:40px; }

.value_containers { border-radius:40px; width:280px; height:340px; display:flex; flex-direction:column; align-items:center; justify-content:space-evenly;  margin:20px;}
.value_containers > p { text-align:center; }

#section_02_article_01_container_C { display:flex; align-items:center; justify-content:flex-start; height:900px; width:100%; gap:30px; flex-wrap:wrap; }
#photo_container { display:flex; height:410px; width:300px; border-radius:30px;  }
#coach_info_container { display:flex; width:70%; height:400px; display:flex; align-items:center; justify-content:flex-start; flex-direction:column; }
#h3_coach_container { height:60px; width:100%; display:flex; align-items:center; justify-content:center; }
#h1_coach_container { height:60px; width:100%; display:flex; align-items:center; justify-content:center; }
#p_coach_container  { height:auto; width:100%; display:flex; align-items:center; justify-content:space-between; flex-direction: column; gap:20px; text-align:justify;}

.flip-card { background-color: transparent;  width:330px; height:400px; perspective: 1000px; border-radius:30px; }
.flip-card-inner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 0.8s; transform-style: preserve-3d;}
.flip-card:hover .flip-card-inner { transform: rotateY(180deg); }
.flip-card-front, .flip-card-back { box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2); position: absolute; display: flex; flex-direction: column; justify-content: center; 
                                    width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; border: 2px solid black; border-radius:30px;
                                    background-color: #006777; border-radius: 16px; backdrop-filter: blur(7.6px); -webkit-backdrop-filter: blur(7.6px); border: 1px solid rgba(209, 197, 197, 0.38);
}

/* .flip-card-front { background-color: #013d4632; } */
.flip-card-back {   transform: rotateY(180deg); display:flex; align-items:center; justify-content:center; padding:34px; color:white; }
.flip-card {     transform: rotateY(-180deg); /* Rotate the text back to normal */}
.flip-card-front h2 {     transform: rotateY(-180deg); }
.flip-card-front {  padding:34px; color: #F5EDEA; }
.flip-card-back p { transform: rotateY(180deg); }

/* Upside-down orientation for laptop */
@media (max-width: 1024px) {
  .flip-card-back p {
      transform: rotateY(0deg);
  }
}


.type--A { --line_color: #555555; --back_color:#00a560; }
._button { 
			position:relative ; z-index:0; width:240px; height:56px; text-decoration:none; font-size:14px; 
			letter-spacing:2px; transition:all .3s ease; font-weight:bold; color:var(--line_color);
}
.button__text{ display : flex ; justify-content : center ; align-items : center ; width : 100% ; height : 100% ; }
._button::before, ._button::after, .button__text::before, .button__text::after{
	content:'' ; position:absolute; height:3px; border-radius:2px; 
	background : var(--line_color) ;transition : all .5s ease ; 
}
._button::before{ top : 0 ; left : 54px ; width : calc( 100% - 56px * 2 - 16px ) ; }
._button::after { top : 0 ; right : 54px ; width : 8px ; }
.button__text::before{ bottom : 0 ; right : 54px ; width : calc( 100% - 56px * 2 - 16px ) ; }
.button__text::after{ bottom : 0 ; left : 54px ; width : 8px ; }
.button__line{ position : absolute ; top : 0 ; width : 56px ; height : 100% ; overflow : hidden ; }
.button__line::before { 
	content : '' ; position:absolute; top:0; width:150%; height:100%; box-sizing:border-box; border-radius:300px;
	border : solid 3px var(--line_color) ; 
}
.button__line:nth-child(1), .button__line:nth-child(1)::before{ left : 0 ; }
.button__line:nth-child(2), .button__line:nth-child(2)::before { right : 0 ;  }
._button:hover { letter-spacing : 1px ;  }
._button:hover::before, ._button:hover .button__text::before { width : 8px ;   }
._button:hover::after, ._button:hover .button__text::after {  width : calc( 100% - 56px * 2 - 16px ) ;   }
._button:not(:last-child) { margin-bottom:64px; }
  #container_btn_external{ width:60%; height:100px; display:flex; margin-top:30px; justify-content:center; align-items:center; }

.tooltip { position: relative; display: inline-block; cursor: pointer; margin-top:48px; }
.tooltip button { background-color: #037486; color: #fff;  border: none;   padding: 10px 20px; border-radius: 5px; font-size: 16px;
  cursor: pointer; transition: background-color 0.3s, transform 0.2s ease-out;
}

.tooltip button:hover { background-color: #013d46; transform: scale(1.05); }
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }

.tooltiptext { 
  visibility: hidden; width: 160px; background-color: #333; color: #fff; text-align: center; border-radius: 8px;
  padding: 5px; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -80px; opacity: 0; transition: opacity 0.3s;
}

.tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #333 transparent transparent transparent; }

/* --------------------------------------------------------------------------------------------------------- Section 03  ------------------------------------------------------------------------------------ */

#section_03 {  display: flex; flex-wrap: wrap; justify-content: center; }
#section_03 > article {  width: calc(50% - 0px); min-height:700px; display: flex; flex-direction: column;  }
#section_03 > article:nth-child(1) { justify-content:center; align-items:flex-start; background-color: #F5EDEA; }
#section_03 > article:nth-child(2) { justify-content:center;  align-items: center;  padding:20px; gap:20px; background-color: #F5EDEA;}
#photo_container_003 {  border-radius:0px 30px 30px 0px; height:510px; width:320px; background-image:url('../../assets/images/mobile-banner-home.jpg');
background-repeat:no-repeat; background-size:cover; background-position-x:-210px; }

#section_03_article_02_container_A {  width:90%; display:flex; align-items:center; justify-content:center; flex-direction:column;} 
#section_03_article_02_container_B {  max-width:95%; display:flex; align-items:center; justify-content:center; flex-direction:column; min-height:90px; padding-bottom:30px;}
#section_03_article_02_container_B > h1 { font-family: "Source Serif 4", serif; font-optical-sizing: auto; font-weight:600; font-style: normal; font-size:45px; font-optical-sizing:auto; }
#section_03_article_02_container_C { width:87%; display:flex; align-items:center; justify-content:center; flex-direction:column; min-height:70px;}
#section_03_article_02_container_C > p { font-family:var(--font-01);  font-size:21px; font-weight:normal; }

@media screen and (min-width:895px) and (max-width:1116px){  
  #photo_container_003 {  border: 2px solid black;  border-radius:0px 30px 30px 0px; height:510px; width:400px; background-image:url('../../assets/images/mobile-banner-home.jpg');
    background-repeat:no-repeat; background-size:cover; background-position-x:-120px;}
}

@media screen and (min-width:1241px) {  
  #photo_container_003 {  border: 2px solid black;  border-radius:0px 30px 30px 0px; height:640px; width:560px; background-image:url('../../assets/images/mobile-banner-home.jpg');
    background-repeat:no-repeat; background-size:cover; background-position-x:-210px; }
}

@media screen and (max-width: 768px) { 
  #section_01 { flex-direction: column;  }
    #photo_container_003 { display:none;  }
  #section_03 > article { width: calc(100% - 10px);  }
  #section_03 > article:nth-child(1) { display:none; }
}
#section_03_article_02_container_A  { display:flex; align-items:center; justify-content:center; }

/* Footer  */

.footer_container{ max-width: 1470px; margin:auto; }
.row_{ display: flex; flex-wrap: wrap  }
ul{ list-style: none; }
.footer{ background-color: #070D1F; padding: 70px 0 }
.footer-col{ width: 25%; padding: 0 15px }
.footer-col h4{ font-size: 18px; color: #ffffff; text-transform: capitalize; margin-bottom: 35px; font-weight: 500; position: relative }
.footer-col h4::before{ content: ''; position: absolute; left:0; bottom: -10px; background-color: #015e6c; height: 2px; box-sizing: border-box; width: 50px }
.footer-col ul li:not(:last-child){ margin-bottom: 10px }
.footer-col ul li a{ font-size: 16px; text-transform: capitalize; color: #ffffff; text-decoration: none; font-weight: 300; color: #bbbbbb; display: block; transition: all 0.3s ease }
.footer-col ul li a:hover{ color: #ffffff; padding-left: 8px }
.footer-col .social-links a{ display: inline-block; height: 40px; width: 40px; background-color: rgba(255,255,255,0.2); margin:0 10px 10px 0; text-align: center; line-height: 40px; border-radius: 50%; color: #ffffff; transition: all 0.5s ease }
.footer-col .social-links a:hover{ color: #24262b; background-color: #ffffff }

/*responsive*/
@media(max-width: 767px){ .footer-col { width: 50%; margin-bottom: 30px } }
@media(max-width: 574px){ .footer-col{ width: 100%; } }

.awesome-form { max-width: 400px; border-radius: 8px; }
.input-field { width: 100%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box }
.submit-button { width: 100%; background-color: #025c70; color: white; padding: 10px 0; margin: 10px 0; border: none; border-radius: 5px; cursor: pointer }
.input-field.invalid { border: 1px solid red }


 @media(min-width: 1492px) {
  .hidden_phone { display:none; }
 }
