@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

* { margin:0px; padding:0px; box-sizing:border-box;  }

:root  {  
    /* COLOR - PALETTES  */

            --white:#FFFFFF;
            --bege:#F5EDEA;
            --light-blue:#037486;
            --dark-gray:#d1d2d6;
            --coach-container:#0375877a;;
            --font-01:'Inter';
            --font-02:'Playfair Display';
            --font-03:'DM Sans';
            --font-04:'MontSerrat';
            --font-05:'Proxima Nova Condensed'
            transition: all 0.3s ease;
}


.scrolling-text { white-space: nowrap; overflow: hidden; animation: scrollRight 10s linear infinite; }

@keyframes scrollRight { 0% { transform: translateX(0%); } 100% { transform: translateX(100%); } }

html,body { scroll-behavior:smooth; height:100vh; padding:0; background-color:var(--bege); margin:0;  }


blockquote {
  padding: 0;
  margin: 0;
}

section.t-bq-section {
  padding: 30px;
  margin-bottom: 60px;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
  max-width: 576px;
  margin: 0 auto;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
  max-width: 100%;
}








/* ========== 05. Paul ========== */

.t-bq-quote-paul {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 250px;
  box-shadow: 2px 2px 25px #cecece;
  border-radius: 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-pattern {
  flex-basis: 80px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
  border-radius: 10px 0 0 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-base {
  flex-basis: calc(100% - 80px);
  background: #ffffff;
  padding: 40px 30px 50px 80px;
  font-size: 11pt;
  line-height: 1.62em;
  border-radius: 0 10px 10px 0;
}

.t-bq-quote-paul .t-bq-quote-paul-qmark {
  position: absolute;
  top: 50px;
  left: 105px;
  font-family: Garamond, Georgia, "Times New Roman", serif;
  font-size: 42pt;
  color: #999999;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.t-bq-quote-paul .t-bq-quote-paul-userpic {
  position: absolute;
  top: 80px;
  left: 45px;
  width: 70px;
  height: 70px;
  background: center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.t-bq-quote-paul .t-bq-quote-paul-meta {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px dotted #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author,
.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
  color: #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 10pt;
  font-weight: bold;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author cite {
  font-style: normal;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
  font-size: 9pt;
}

@media screen and (max-width: 768px) {

  .t-bq-quote-paul .t-bq-quote-paul-pattern {
      flex-basis: 20px;
  }

  .t-bq-quote-paul .t-bq-quote-paul-base {
      flex-basis: calc(100% - 20px);
      padding: 100px 30px 50px 30px;
  }

  .t-bq-quote-paul .t-bq-quote-paul-userpic {
      width: 50px;
      height: 50px;
      left: 40px;
      top: 20px;
  }

  .t-bq-quote-paul .t-bq-quote-paul-qmark {
      left: 100px;
      top: 45px;
  }
}









/* ========== 06. Jasper ========== */

.t-bq-quote-jasper {
  position: relative;
  box-shadow: 2px 2px 25px #cecece;
  border-radius: 10px;
}

.t-bq-quote-jasper .t-bq-quote-jasper-pattern {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
  border-radius: 10px 10px 0 0;
}

.t-bq-quote-jasper .t-bq-quote-jasper-pattern .t-bq-quote-jasper-qmark {
  flex-basis: 100px;
  font-family: Garamond, Georgia, "Times New Roman", serif;
  font-size: 60pt;
  color: #999999;
  text-align: center;
  height: 80px;
  line-height: 90pt;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.t-bq-quote-jasper .t-bq-quote-jasper-userpic {
  position: absolute;
  top: 45px;
  left: calc(50% - 35px);
  width: 70px;
  height: 70px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.t-bq-quote-jasper .t-bq-quote-jasper-base {
  background: #ffffff;
  padding: 60px;
  font-size: 11pt;
  line-height: 1.62em;
  border-radius: 0 0 10px 10px;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px dotted #777777;
  text-align: center;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author,
.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
  color: #777777;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 10pt;
  font-weight: bold;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author cite {
  font-style: normal;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
  font-size: 9pt;
}

@media screen and (max-width: 768px) {

  .t-bq-quote-jasper .t-bq-quote-jasper-base {
      padding-left: 30px;
  }
}








/* ========== 07. Horace ========== */

.t-bq-quote-horace {
  position: relative;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 25px #cecece;
}

.t-bq-quote-horace .t-bq-quote-horace-base {
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
  color: #ffffff;
  font-weight: bold;
  padding: 60px;
  border-radius: 10px;
}

.t-bq-quote-horace .t-bq-quote-horace-meta {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px dotted #ffffff;
}

.t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-author {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 10pt;
  font-weight: bold;
}

.t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-author cite {
  font-style: normal;
}

.t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-source {
  font-size: 10pt;
}

.t-bq-quote-horace .t-bq-quote-horace-qmark {
  position: absolute;
  top: 140px;
  right: 5px;
  font-size: 280pt;
  color: #ffffff;
  opacity: 0.17;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.t-bq-quote-horace .t-bq-quote-horace-userpic {
  width: 70px;
  height: 70px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {

  .t-bq-quote-horace .t-bq-quote-horace-base {
      padding-left: 40px;
      padding-right: 40px;
  }

  .t-bq-quote-horace .t-bq-quote-horace-meta {
      flex-direction: column;
      text-align: center;
  }

  .t-bq-quote-horace .t-bq-quote-horace-meta .t-bq-quote-horace-userpic {
      margin: 0 auto;
      margin-bottom: 10px;
  }

}
.footer_container{ max-width: 1470px; margin:auto; }
.row_{ display: flex; flex-wrap: wrap  }
ul{ list-style: none; }
.footer{ background-color: #070D1F; padding: 70px 0 }
.footer-col{ width: 25%; padding: 0 15px }
.footer-col h4{ font-size: 18px; color: #ffffff; text-transform: capitalize; margin-bottom: 35px; font-weight: 500; position: relative }
.footer-col h4::before{ content: ''; position: absolute; left:0; bottom: -10px; background-color: #015e6c; height: 2px; box-sizing: border-box; width: 50px }
.footer-col ul li:not(:last-child){ margin-bottom: 10px }
.footer-col ul li a{ font-size: 16px; text-transform: capitalize; color: #ffffff; text-decoration: none; font-weight: 300; color: #ffffff; display: block; transition: all 0.3s ease }
.footer-col ul li a:hover{ color: #ffffff; padding-left: 8px }
.footer-col .social-links a{ display: inline-block; height: 40px; width: 40px; background-color: rgba(255,255,255,0.2); margin:0 10px 10px 0; text-align: center; line-height: 40px; border-radius: 50%; color: #ffffff; transition: all 0.5s ease }
.footer-col .social-links a:hover{ color: #24262b; background-color: #ffffff }

/*responsive*/
@media(max-width: 767px){ .footer-col { width: 50%; margin-bottom: 30px } }
@media(max-width: 574px){ .footer-col{ width: 100%; } }
.awesome-form { max-width: 400px; border-radius: 8px; }
.input-field { width: 100%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box }
.submit-button { width: 100%; background-color: #025c70; color: white; padding: 10px 0; margin: 10px 0; border: none; border-radius: 5px; cursor: pointer }
.input-field.invalid { border: 1px solid red }

