@charset "utf-8"; 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');


* { margin:0px; padding:0px; box-sizing:border-box;  }

:root  {  
    /* COLOR - PALETTES  */

            --white:#FFFFFF;
            --bege:#F5EDEA;
            --light-blue:#037486;
            --dark-gray:#D2D3D7;
            --coach-container:#0374867a;;
            --font-01:'Inter';
            --font-02:'Playfair Display';
            --font-03:'DM Sans';
            --font-04:'MontSerrat';
            --font-05:'Proxima Nova Condensed'
}


html { scroll-behavior:smooth; }
body {  background-color:var(--bege); height:100dvh; padding:0; } 
.reveal {  position: relative; transform:translateY(60px); opacity:0; transition:all 2s ease; }
.reveal.active {  transform:translateY(1px); opacity:1; }

a:hover {  cursor: pointer;}
a { text-decoration:none; font-weight:400;  } /* 1.6rem == 16px */
img { height:auto; width:100%; }
.row { display:flex; justify-content: space-between; width:88%; margin:auto; align-items:center;  }

.hidden { opacity: 0; pointer-events: none; }



/* Section 01  */

#section_01 {  height:655px; background-color:var(--bege); display:flex; align-items:center; justify-content:center;  }

#section_01 > article {  border:1px solid black; height:650px; display:flex; align-items:center; justify-content:center; flex-direction:column; width:100%; }

#section_01_container_A {
    -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px;  width:340px; 
    display:flex;align-items:flex-start; justify-content:flex-end; margin-top:10px; margin-top:10px;  min-height:220px; background-color:#037486;
}

#section_001 {  display:none;  }


#section_01_container_A >  #sc01_cF_sc_A {  height:40px; width:90px;  border-radius: 0px 0px 0px 10px; display:flex; align-items:center; justify-content:center; background-color: #000000; }
#section_01_container_B { border:1px solid black;   min-width:340px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10PX;  }
#section_01_container_B > h5 { text-align:left; font-family:var(--font-03); color: #037486; font-size:13px; }

#section_01_container_C { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
#section_01_container_C > h1 { text-align:left; font-family:var(--font-02);  }

#section_01_container_D { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
#section_01_container_D > h3 { text-align:left; font-family:var(--font-03); font-size:15px; color:gray; font-weight:800; }

#section_01_container_E { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:14px; }
#section_01_container_E > p { text-align:left; font-family:var(--font-03); }


#sc01_cF_sc_A  > h2 {  color:rgb(255, 255, 255); font-family:var(--font-03); font-size:18px; font-weight:400;; }

#section_01_container_F { width:320px; display:flex; align-items:center; justify-content:center; margin-top:10px;}
#section_01_container_F  a button {    
  background-color: #037486; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor:pointer;
  box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Section 02 */

#section_02 { display: flex; align-items: center; justify-content: center; background-color:white; min-height:700px; width:100%; }
#section_02 > article { display: flex; align-items: center; justify-content:space-evenly; background-color:white; min-height:700px;  margin-top:5px; max-width:1240px; }
.blog_container {  display:flex; flex-direction:row; align-items:center; justify-content:space-around; flex-wrap:wrap; width:90%; gap:20px; border:1px solid black;}

.article_sub_container_A { min-height:280px; min-width:280px; max-width:400px;  padding:10px; border:1px solid red;} 
.article_sub_container_A > img {  
    -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; max-width:100%; height:230px;
 }
 .article_sub_container_A > h4 { color:var(--light-blue); font-family:var(--font-01); font-size:10px; margin-top:8px; }
 .article_sub_container_A > h3 { color:black; font-family:var(--font-02); font-weight:200px; font-size:16px;  margin-top:8px; }
 .article_sub_container_A > p {  margin-top:8px; font-family:var(--font-03); line-height:-2px; }
 .article_sub_container_A > .blue_border { height:1.2px;  background-color:#037486; margin-top:20px; }


/* Button Styles  */


button:hover { background-color:#037486; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
button:focus { background-color:#037486; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
button:active { transform: scale(0.95); }

button:hover::before, button:focus::before { width: 150%; height: 150%; opacity: 1; }

.read_blog_btn_style_01 {
  background-color: hsl(205, 36%, 32%); color: #fff;  padding: 8px 20px; border: none;  border-radius: 8px; 
  font-size: 16px;  cursor: pointer; transition: background-color 0.3s ease, transform 0.2s ease;  margin-top:10px;
}
  
.read_blog_btn_style_01:hover { background-color: #037486;  transform: scale(1.05); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

/*  Animations  */

.loader_pg {
  width: 48px; height: 48px; border-radius: 50%; display: inline-block; border-top: 3px solid #000000;
  border-right: 3px solid transparent; box-sizing: border-box; animation: rotation 1s linear infinite;
}

.loader_overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(255, 255, 255); backdrop-filter:blur(40px);
    display: none; /* Initially hidden */ align-items: center; justify-content: center; opacity: 0; transition: opacity 0.5s ease-in-out;  z-index: 99999;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

/* Footer */

#pre-footer { min-height:90px;  display:flex; align-items:center; justify-content:center;  flex-direction:column; background-color:white;}

footer { max-height:110px; display:flex; flex-direction:column; align-items:center; justify-content:center;  gap:10px; background-color:#070d1fee; position:relative; bottom:1px;}
#footer_container_A { width:100%; height:80px; display:flex; align-items:center; justify-content:space-between; background-color:white; padding:10px; }
#footer_container_A > a  { border-radius:50%; background-color: #000000e0; width:50px; height:50px; display:flex; align-items:center; justify-content:center;  }
#footer_container_A > h3  { font-family:var(--font-01); }
#footer_container_C  { display:flex; align-items:center; justify-content:center; }
#footer_container_C > a { color:white; font-size:10px;  } 


/* ----------------------------------------------------------------------------------------------- Small TABLETS  ---------------------------------------------------------------------------------------- */

@media screen and ( min-width:768px) and ( max-width:991px ) { 

#section_01{ display:none; }
#section_001 {  max-height:655px; background-color:var(--bege); display:flex; align-items:center; justify-content:center; flex-direction:row; padding:40px;  }
#section_001 > article {  border:1px solid black; max-height:650px; display:flex; align-items:center; justify-content:space-between; flex-direction:row; max-width:1240px; gap:50px; }

#section_001_container_A {   display:flex;align-items:flex-start; justify-content:flex-end; margin-top:10px; margin-top:10px;  min-height:230px; background-color:#037486;
                            -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px; min-width: 320px;
                            -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px;  max-width:400px; max-height:330px;
                          }

#section_001_container_A >  #sc01_cF_sc_A {  height:40px; width:90px;  border-radius: 0px 0px 0px 10px; display:flex; align-items:center; justify-content:center; background-color:#000000; }
#section_001_container_B { border:1px solid black;   min-width:340px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px;  }
#section_001_container_B > h5 { text-align:left; font-family:var(--font-03); color: #037486; font-size:1.2rem; }

#section_001_container_C { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
#section_001_container_C > h1 { text-align:left; font-family:var(--font-02); font-size:1.4rem; }

#section_001_container_D { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
#section_001_container_D > h3 { text-align:left; font-family:var(--font-03); font-size:0.9rem; color:gray; font-weight:800; }

#section_001_container_E { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:14px; }
#section_001_container_E > p { text-align:left; font-family:var(--font-03); font-size:1.1rem; }


#sc01_cF_sc_A  > h2 {  color:rgb(255, 255, 255); font-family:var(--font-03); font-size:18px; font-weight:400;; }

#section_001_container_F { width:320px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px;}
#section_001_container_F > a > button {  background-color: #037486; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); 
  transition: background-color 0.3s ease, transform 0.2s ease; cursor:pointer;}

#section_001_main_container_A { border:1px solid black; max-height:450px; padding:10px; max-width:500px;  }
#section_001_main_container_B { border:1px solid black; max-height:430px; padding:10px; max-width:500px; display:flex; align-items:center; justify-content:center; }

#section_02 { display: flex; align-items: center; justify-content: center;  min-height:700px;  }
#section_02 > article { display: flex; align-items: center; justify-content:space-evenly; background-color:white; min-height:700px;  margin-top:5px; max-width:1240px; }
.blog_container {  display:flex; flex-direction:row; align-items:center; justify-content:space-around; flex-wrap:wrap; max-width:1440px; gap:30px; border:1px solid black; }

.article_sub_container_A { min-height:280px; min-width:280px; max-width:400px;  padding:10px; border:1px solid red;} 
.article_sub_container_A > img {  
    -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; max-width:100%; height:230px;
 }
 .article_sub_container_A > h4 { color:var(--light-blue); font-family:var(--font-01); font-size:10px; margin-top:8px; }
 .article_sub_container_A > h3 { color:black; font-family:var(--font-02); font-weight:200px; font-size:16px;  margin-top:8px; }
 .article_sub_container_A > p {  margin-top:8px; font-family:var(--font-03); line-height:-2px; }
 .article_sub_container_A > .blue_border { height:1.2px;  background-color:#037486; margin-top:20px; }

 footer { max-height:110px; display:flex; flex-direction:column; align-items:center; justify-content:center;  gap:10px; background-color:#070d1fee; position:relative; bottom:1px;}
#footer_container_A { width:100%; height:80px; display:flex; align-items:center; justify-content:space-between; background-color:white; padding:10px; }
#footer_container_A > a  { border-radius:50%; background-color: #000000e0; width:50px; height:50px; display:flex; align-items:center; justify-content:center;  }
#footer_container_A > h3  { font-family:var(--font-01); }
#footer_container_C  { display:flex; align-items:center; justify-content:center; }
#footer_container_C > a { color:white; font-size:10px;  } 


}

/* LARGE TABLETS AND LAPTOPS */

@media screen and ( min-width:992px) and ( max-width:1199px ) { 

  #section_01{ display:none; }
  #section_001 {  max-height:655px; background-color:var(--bege); display:flex; align-items:center; justify-content:center; flex-direction:row; padding:40px;  }
  #section_001 > article {  border:1px solid black; max-height:650px; display:flex; align-items:center; justify-content:space-between; flex-direction:row; max-width:1240px; gap:50px; }
  
  #section_001_container_A {  display:flex;align-items:flex-start; justify-content:flex-end; margin-top:10px; margin-top:10px;  min-height:230px; background-color:#037486;
                              -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px; min-width: 320px;
                              -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px;  max-width:400px; max-height:330px;
  }
  
  #section_001_container_A >  #sc01_cF_sc_A {  height:40px; width:90px;  border-radius: 0px 0px 0px 10px; display:flex; align-items:center; justify-content:center; background-color: #000000; }
  #section_001_container_B { border:1px solid black;   min-width:340px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px;  }
  #section_001_container_B > h5 { text-align:left; font-family:var(--font-03); color: #037486; font-size:1.2rem; }
  
  #section_001_container_C { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_C > h1 { text-align:left; font-family:var(--font-02); font-size:1.4rem; }
  
  #section_001_container_D { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_D > h3 { text-align:left; font-family:var(--font-03); font-size:0.9rem; color:gray; font-weight:800; }
  
  #section_001_container_E { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:14px; }
  #section_001_container_E > p { text-align:left; font-family:var(--font-03); font-size:1.1rem; }
  
  #sc01_cF_sc_A  > h2 {  color:rgb(255, 255, 255); font-family:var(--font-03); font-size:18px; font-weight:400;; }
  
  #section_001_container_F { width:320px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }

  #section_001_container_F > a > button { 
    background-color: #037486; color: #fff; border: none; padding: 10px 20px; border-radius: 5px;
    box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); transition: background-color 0.3s ease, transform 0.2s ease;
                                        }
  
  #section_001_main_container_A { border:1px solid black; max-height:450px; padding:10px; max-width:500px;  }
  #section_001_main_container_B { border:1px solid black; max-height:430px; padding:10px; max-width:500px; display:flex; align-items:center; justify-content:center; }
  
  #section_02 { display: flex; align-items: center; justify-content: center;  min-height:700px; padding:30px; }
  #section_02 > article { display: flex; align-items: center; justify-content:space-evenly; background-color:white; min-height:700px;  margin-top:5px; max-width:1540px; }
  .blog_container {  display:flex; flex-direction:row; align-items:center; justify-content:space-around; flex-wrap:wrap; max-width:1540px; gap:40px; border:1px solid black;}
  
  .article_sub_container_A { min-height:280px; min-width:280px; max-width:400px;  padding:10px; border:1px solid red;} 
  .article_sub_container_A > img {  
      -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
      -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; max-width:100%; height:230px;
   }
   .article_sub_container_A > h4 { color:var(--light-blue); font-family:var(--font-01); font-size:10px; margin-top:8px; }
   .article_sub_container_A > h3 { color:black; font-family:var(--font-02); font-weight:200px; font-size:16px;  margin-top:8px; }
   .article_sub_container_A > p {  margin-top:8px; font-family:var(--font-03); line-height:-2px; }
   .article_sub_container_A > .blue_border { height:1.2px;  background-color:#037486; margin-top:20px; }
  
   footer { max-height:110px; display:flex; flex-direction:column; align-items:center; justify-content:center;  gap:10px; background-color:#070d1fee; position:relative; bottom:1px;}
   #footer_container_A { width:100%; height:80px; display:flex; align-items:center; justify-content:space-between; background-color:white; padding:10px; }
   #footer_container_A > a  { border-radius:50%; background-color: #000000e0; width:50px; height:50px; display:flex; align-items:center; justify-content:center;  }
   #footer_container_A > h3  { font-family:var(--font-01); }
   #footer_container_C  { display:flex; align-items:center; justify-content:center; }
   #footer_container_C > a { color:white; font-size:10px;  } 

  }


  /* LARGE TABLETS AND LAPTOPS */

@media screen and ( min-width:1200px) and ( max-width:1919px) { 

  #section_01{ display:none; }
  #section_001 {  max-height:655px; background-color:var(--bege); display:flex; align-items:center; justify-content:center; flex-direction:row; padding:40px;  }
  #section_001 > article {  border:1px solid black; max-height:650px; display:flex; align-items:center; justify-content:space-between; flex-direction:row; max-width:1240px; gap:50px; }
  
  #section_001_container_A {  display:flex;align-items:flex-start; justify-content:flex-end; margin-top:10px; margin-top:10px;  min-height:230px; background-color:#037486;
                              -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px; min-width: 320px;
                              -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px;  max-width:400px; max-height:330px;
  }
  
  #section_001_container_A >  #sc01_cF_sc_A {  height:40px; width:90px;  border-radius: 0px 0px 0px 10px; display:flex; align-items:center; justify-content:center; background-color: #000000; }
  #section_001_container_B { border:1px solid black;   min-width:340px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px;  }
  #section_001_container_B > h5 { text-align:left; font-family:var(--font-03); color: #037486; font-size:1.2rem; }
  
  #section_001_container_C { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_C > h1 { text-align:left; font-family:var(--font-02); font-size:1.4rem; }
  
  #section_001_container_D { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_D > h3 { text-align:left; font-family:var(--font-03); font-size:0.9rem; color:gray; font-weight:800; }
  
  #section_001_container_E { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:14px; }
  #section_001_container_E > p { text-align:left; font-family:var(--font-03); font-size:1.1rem; }
  
  #sc01_cF_sc_A  > h2 {  color:rgb(255, 255, 255); font-family:var(--font-03); font-size:18px; font-weight:400;; }
  
  #section_001_container_F { width:320px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }

  #section_001_container_F > a > button { 
    background-color: #037486; color: #fff; border: none; padding: 10px 20px; border-radius: 5px;
    box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); transition: background-color 0.3s ease, transform 0.2s ease;
                                        }
  
  #section_001_main_container_A { border:1px solid black; max-height:450px; padding:10px; max-width:500px;  }
  #section_001_main_container_B { border:1px solid black; max-height:430px; padding:10px; max-width:500px; display:flex; align-items:center; justify-content:center; }
  
  #section_02 { display: flex; align-items: center; justify-content: center;  min-height:700px; padding:30px; }
  #section_02 > article { display: flex; align-items: center; justify-content:space-evenly; background-color:white; min-height:700px;  margin-top:5px; max-width:1540px; }
  .blog_container {  display:flex; flex-direction:row; align-items:center; justify-content:space-around; flex-wrap:wrap; max-width:1540px; gap:40px; border:1px solid black;}
  
  .article_sub_container_A { height:480px; min-width:270px; max-width:300px;  padding:10px; border:1px solid black;}
  .article_sub_container_A { min-height:280px; min-width:280px; max-width:400px;  padding:10px; border:1px solid red;} 
  .article_sub_container_A > img {  
      -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
      -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; max-width:100%; height:230px;
   }
   .article_sub_container_A > h4 { color:var(--light-blue); font-family:var(--font-01); font-size:10px; margin-top:8px; }
   .article_sub_container_A > h3 { color:black; font-family:var(--font-02); font-weight:200px; font-size:16px;  margin-top:8px; }
   .article_sub_container_A > p {  margin-top:8px; font-family:var(--font-03); line-height:-2px; }
   .article_sub_container_A > .blue_border { height:1.2px;  background-color:#037486; margin-top:20px; }
  
   footer { max-height:110px; display:flex; flex-direction:column; align-items:center; justify-content:center;  gap:10px; background-color:#070d1fee; position:relative; bottom:1px;}
   #footer_container_A { width:100%; height:80px; display:flex; align-items:center; justify-content:space-between; background-color:white; padding:10px; }
   #footer_container_A > a  { border-radius:50%; background-color: #000000e0; width:50px; height:50px; display:flex; align-items:center; justify-content:center;  }
   #footer_container_A > h3  { font-family:var(--font-01); }
   #footer_container_C  { display:flex; align-items:center; justify-content:center; }
   #footer_container_C > a { color:white; font-size:10px;  } 
   

  }

   /* DESKTOPS */

@media screen and (  min-width:1200px) and ( max-width:1919px ) { 

  #section_01{ display:none; }
  #section_001 {  max-height:655px; background-color:var(--bege); display:flex; align-items:center; justify-content:center; flex-direction:row; padding:40px;  }
  #section_001 > article {  border:1px solid black; max-height:650px; display:flex; align-items:center; justify-content:space-between; flex-direction:row; max-width:1240px; gap:50px; }
  
  #section_001_container_A {  display:flex;align-items:flex-start; justify-content:flex-end; margin-top:10px; margin-top:10px;  min-height:230px; background-color:#037486;
                              -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px; min-width: 320px;
                              -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px;  max-width:400px; max-height:330px;
  }
  
  #section_001_container_A >  #sc01_cF_sc_A {  height:40px; width:90px;  border-radius: 0px 0px 0px 10px; display:flex; align-items:center; justify-content:center; background-color: #000000; }
  #section_001_container_B { border:1px solid black;   min-width:340px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px;  }
  #section_001_container_B > h5 { text-align:left; font-family:var(--font-03); color: #037486; font-size:1.2rem; }
  
  #section_001_container_C { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_C > h1 { text-align:left; font-family:var(--font-02); font-size:1.4rem; }
  
  #section_001_container_D { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_D > h3 { text-align:left; font-family:var(--font-03); font-size:0.9rem; color:gray; font-weight:800; }
  
  #section_001_container_E { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:14px; }
  #section_001_container_E > p { text-align:left; font-family:var(--font-03); font-size:1.1rem; }
  
  #sc01_cF_sc_A  > h2 {  color:rgb(255, 255, 255); font-family:var(--font-03); font-size:18px; font-weight:400;; }
  
  #section_001_container_F { width:320px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }

  #section_001_container_F > a > button { 
    background-color: #037486; color: #fff; border: none; padding: 10px 20px; border-radius: 5px;
    box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); transition: background-color 0.3s ease, transform 0.2s ease;
                                        }
  
  #section_001_main_container_A { border:1px solid black; max-height:450px; padding:10px; max-width:500px;  }
  #section_001_main_container_B { border:1px solid black; max-height:430px; padding:10px; max-width:500px; display:flex; align-items:center; justify-content:center; }
  
  #section_02 { display: flex; align-items: center; justify-content: center;  min-height:700px; padding:30px; }
  #section_02 > article { display: flex; align-items: center; justify-content:space-evenly; background-color:white; min-height:700px;  margin-top:5px; max-width:1540px; }
  .blog_container {  display:flex; flex-direction:row; align-items:center; justify-content:space-around; flex-wrap:wrap; max-width:1540px; gap:40px; border:1px solid black;}
  
  .article_sub_container_A { height:480px; min-width:270px; max-width:300px;  padding:10px; border:1px solid black;}
  .article_sub_container_A { min-height:280px; min-width:280px; max-width:400px;  padding:10px; border:1px solid red;} 
  .article_sub_container_A > img {  
      -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
      -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; max-width:100%; height:230px;
   }
   .article_sub_container_A > h4 { color:var(--light-blue); font-family:var(--font-01); font-size:20px; margin-top:8px; }
   .article_sub_container_A > h3 { color:black; font-family:var(--font-02); font-weight:200px; font-size:16px;  margin-top:8px; }
   .article_sub_container_A > p {  margin-top:8px; font-family:var(--font-03); line-height:-2px; }
   .article_sub_container_A > .blue_border { height:1.2px;  background-color:#037486; margin-top:20px; }
  
   footer { max-height:110px; display:flex; flex-direction:column; align-items:center; justify-content:center;  gap:10px; background-color:#070d1fee; position:relative; bottom:1px;}
   #footer_container_A { width:100%; height:80px; display:flex; align-items:center; justify-content:space-between; background-color:white; padding:10px; }
   #footer_container_A > a  { border-radius:50%; background-color: #000000e0; width:50px; height:50px; display:flex; align-items:center; justify-content:center;  }
   #footer_container_A > h3  { font-family:var(--font-01); }
   #footer_container_C  { display:flex; align-items:center; justify-content:center; }
   #footer_container_C > a { color:white; font-size:10px;  } 
   
   
  }


  /* -----------------------------------------------------------------------------------------------  Extra Large Screens   ---------------------------------------------------------------------------------------- */

@media screen and ( min-width:1920px ) { 

  #section_01{ display:none; }
  #section_001 {  max-height:655px; background-color:var(--bege); display:flex; align-items:center; justify-content:center; flex-direction:row; padding:40px;  }
  #section_001 > article {  border:1px solid black; max-height:650px; display:flex; align-items:center; justify-content:space-between; flex-direction:row; max-width:1240px; gap:50px; }
  
  #section_001_container_A {  display:flex;align-items:flex-start; justify-content:flex-end; margin-top:10px; margin-top:10px;  min-height:230px; background-color:#037486;
                              -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px; min-width: 320px;
                              -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px;  max-width:400px; max-height:330px;
  }
  
  #section_001_container_A >  #sc01_cF_sc_A {  height:40px; width:90px;  border-radius: 0px 0px 0px 10px; display:flex; align-items:center; justify-content:center; background-color: #000000; }
  #section_001_container_B { border:1px solid black;   min-width:340px;  display:flex;  align-items:center;  justify-content:flex-start; margin-top:10px;  }
  #section_001_container_B > h5 { text-align:left; font-family:var(--font-03); color: #037486; font-size:1.2rem; }
  
  #section_001_container_C { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_C > h1 { text-align:left; font-family:var(--font-02); font-size:1.4rem; }
  
  #section_001_container_D { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }
  #section_001_container_D > h3 { text-align:left; font-family:var(--font-03); font-size:0.9rem; color:gray; font-weight:800; }
  
  #section_001_container_E { border:1px solid black; width:340px; display:flex; align-items:center; justify-content:flex-start; margin-top:14px; }
  #section_001_container_E > p { text-align:left; font-family:var(--font-03); font-size:1.1rem; }
  
  #sc01_cF_sc_A  > h2 {  color:rgb(255, 255, 255); font-family:var(--font-03); font-size:18px; font-weight:400;; }
  
  #section_001_container_F { width:320px; display:flex; align-items:center; justify-content:flex-start; margin-top:10px; }

  #section_001_container_F > a > button { 
    background-color: #037486; color: #fff; border: none; padding: 10px 20px; border-radius: 5px;
    box-shadow: 0 4px 8px rgba(3, 116, 134, 0.3); transition: background-color 0.3s ease, transform 0.2s ease;
                                        }
  
  #section_001_main_container_A { border:1px solid black; max-height:450px; padding:10px; max-width:700px;  }
  #section_001_main_container_B { border:1px solid black; max-height:430px; padding:10px; max-width:700px; display:flex; align-items:center; justify-content:center; }
  
  #section_02 { display: flex; align-items: center; justify-content: center;  min-height:700px; padding:30px; }
  #section_02 > article { display: flex; align-items: center; justify-content:space-evenly; background-color:white; min-height:700px;  margin-top:5px; max-width:1540px; }
  .blog_container {  display:flex; flex-direction:row; align-items:center; justify-content:space-around; flex-wrap:wrap; max-width:1540px; gap:40px; border:1px solid black;}
  
  .article_sub_container_A { min-height:280px; min-width:280px; max-width:400px;  padding:10px; border:1px solid red;} 
  .article_sub_container_A > img {  
      -webkit-border-top-left-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-radius-topleft: 25px;
      -moz-border-radius-bottomright: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; max-width:100%; height:230px;
   }
   .article_sub_container_A > h4 { color:var(--light-blue); font-family:var(--font-01); font-size:10px; margin-top:8px; }
   .article_sub_container_A > h3 { color:black; font-family:var(--font-02); font-size:16px;  margin-top:8px; }
   .article_sub_container_A > p {  margin-top:8px; font-family:var(--font-03); line-height:-2px; }
   .article_sub_container_A > .blue_border { height:1.2px;  background-color:#037486; margin-top:20px; }
    
   footer { max-height:110px; display:flex; flex-direction:column; align-items:center; justify-content:center;  gap:10px; background-color:#070d1fee; position:relative; bottom:1px;}
   #footer_container_A { width:100%; height:80px; display:flex; align-items:center; justify-content:space-between; background-color:white; padding:10px; }
   #footer_container_A > a  { border-radius:50%; background-color: #000000e0; width:50px; height:50px; display:flex; align-items:center; justify-content:center;  }
   #footer_container_A > h3  { font-family:var(--font-01); }
   #footer_container_C  { display:flex; align-items:center; justify-content:center; }
   #footer_container_C > a { color:white; font-size:10px;  } 
   
   
  }